<div>
    <h2 translate="staponeApp.catPromotionPhoto.home.title">CatPromotionPhotos</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="catPromotionPhoto.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
class="hidden-xs"                        translate="staponeApp.catPromotionPhoto.home.createLabel">Create new CatPromotionPhoto
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{ 'staponeApp.catPromotionPhoto.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="staponeApp.catPromotionPhoto.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="photo"><span translate="staponeApp.catPromotionPhoto.photo">Photo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="descriptions"><span translate="staponeApp.catPromotionPhoto.descriptions">Descriptions</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="categoryName"><span translate="staponeApp.catPromotionPhoto.category">category</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="catPromotionPhoto in catPromotionPhotos track by catPromotionPhoto.id">
                    <td><a ui-sref="catPromotionPhoto.detail({id:catPromotionPhoto.id})">{{catPromotionPhoto.id}}</a></td>
                    <td>{{catPromotionPhoto.name}}</td>
                    <td>{{catPromotionPhoto.photo}}</td>
                    <td>{{catPromotionPhoto.descriptions}}</td>
                    <td>
                        <a ui-sref="category.detail({id:catPromotionPhoto.categoryId})">{{catPromotionPhoto.categoryName}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="catPromotionPhoto.detail({id:catPromotionPhoto.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="catPromotionPhoto.edit({id:catPromotionPhoto.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="catPromotionPhoto.delete({id:catPromotionPhoto.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
