
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myDeptPromotionPhotoLabel" translate="staponeApp.deptPromotionPhoto.home.createOrEditLabel">Create or edit a DeptPromotionPhoto</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="deptPromotionPhoto.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="staponeApp.deptPromotionPhoto.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="deptPromotionPhoto.name"
                     />
        </div>
        <div class="form-group" ngf-drop ngf-change="setPhoto($file, deptPromotionPhoto)">
            <label class="control-label" translate="staponeApp.deptPromotionPhoto.photo" for="field_photo">Photo</label>
            <div>
                <div class="help-block clearfix">
                    <span class="pull-left">{{deptPromotionPhoto.photoContentType}} {{byteSize(deptPromotionPhoto.photo)}}</span>
                    <button ng-click="deptPromotionPhoto.photo=null;deptPromotionPhoto.photoContentType=null;"
                            ng-if="deptPromotionPhoto.photo"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="setPhoto($file, deptPromotionPhoto)" translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="photo" id="field_photo"
                    ng-model="deptPromotionPhoto.photo"
                     />
            <input type="hidden" class="form-control" name="photoContentType" id="field_photoContentType"
                    ng-model="deptPromotionPhoto.photoContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" translate="staponeApp.deptPromotionPhoto.descriptions" for="field_descriptions">Descriptions</label>
            <input type="text" class="form-control" name="descriptions" id="field_descriptions"
                    ng-model="deptPromotionPhoto.descriptions"
                     />
        </div>

        <div class="form-group">
            <label translate="staponeApp.deptPromotionPhoto.department" for="field_department">department</label>
            <select class="form-control" id="field_department" name="department" ng-model="deptPromotionPhoto.departmentId" ng-options="department.id as department.name for department in departments">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
