<div>
    <h2 translate="staponeApp.orderDetails.home.title">OrderDetailss</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="orderDetails.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
class="hidden-xs"                        translate="staponeApp.orderDetails.home.createLabel">Create new OrderDetails
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{ 'staponeApp.orderDetails.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="noOfProducts"><span translate="staponeApp.orderDetails.noOfProducts">NoOfProducts</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ordersDescriptions"><span translate="staponeApp.orderDetails.orders">orders</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="productsName"><span translate="staponeApp.orderDetails.products">products</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="orderDetails in orderDetailss track by orderDetails.id">
                    <td><a ui-sref="orderDetails.detail({id:orderDetails.id})">{{orderDetails.id}}</a></td>
                    <td>{{orderDetails.noOfProducts}}</td>
                    <td>
                        <a ui-sref="orders.detail({id:orderDetails.ordersId})">{{orderDetails.ordersDescriptions}}</a>
                    </td>
                    <td>
                        <a ui-sref="products.detail({id:orderDetails.productsId})">{{orderDetails.productsName}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="orderDetails.detail({id:orderDetails.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="orderDetails.edit({id:orderDetails.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="orderDetails.delete({id:orderDetails.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
